<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
       <mat-toolbar color="primary">Nouvelle catégorie</mat-toolbar>
       <form fxLayoutAlign="stretch" fxLayout="column" class="category-form" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
 
       <mat-form-field>
          <input matInput placeholder="Titre" formControlName="name" name="name">
       </mat-form-field>
       <div *ngIf="categoryForm.controls.name.invalid && categoryForm.controls.name.touched" class="invalid">
          <p *ngIf="categoryForm.controls.name.errors.required">Le nom est obligatoire</p>
          <p *ngIf="categoryForm.controls.name.errors.minlength">Le nom doit contenir minimum 4 caractères</p>
          <p *ngIf="categoryForm.controls.name.errors.maxlength">Le nom doit contenir maximum 20 caractères</p>
       </div>
 
       <button mat-raised-button type="submit" class="mt5" [disabled]="!categoryForm.valid">Envoyer</button>
       </form>
    </mat-card>
 </div>